# xfm-php submodule
[submodule "lib/xfm"]
	path = lib/xfm
	url = giti@github.com:damiencorpataux/xfm-php.git
[submodule "public/assets/extjs"]
	path = public/assets/extjs
	url = https://github.com/probonogeek/extjs.git
[submodule "lib/fbm"]
	path = lib/fbm
	url = git@github.com:damiencorpataux/fbm-xfm-library.git
